#IMPORTING THE DATA

In [ ]:
import pandas as pd
df_1= pd.read_csv('kijiji.csv')
df_2 = pd.read_csv('CSDpop.csv')

In [ ]:
df_1.columns

Index(['CSDUID', 'CSDNAME', 'Latitude', 'Longitude', 'adId', 'Title', 'Type',
       'Price', 'Location', 'Bedrooms', 'Bathrooms', 'Hydro', 'Heat', 'Water',
       'Size', 'Agreement Type', 'URL', 'Date Posted'],
      dtype='object')

DROPPING THE COLUMNS

In [ ]:
df_1 = df_1.drop(['CSDNAME','Longitude', 'Location', 'Title','adId','URL','Date Posted'],axis=1)

In [ ]:
df_1['Size'] = pd.to_numeric(df_1['Size'], errors='coerce' )

In [ ]:
import numpy as np
for index, row in df_1.iterrows ():
   if row["Size"] < 200 or row["Size"] > 7000:
      df_1.at [index, 'Size'] = np. nan

In [ ]:

df_1['Size'].fillna(value=df_1.Size.mean(), inplace=True)

-RELPACING THE CHARACTERS FROM PRICE COLUMN

In [ ]:
df_1['Price'] = df_1['Price'].str.replace('$','')
df_1['Price'] = df_1['Price'].str.replace(',','')
df_1['Price'] = pd.to_numeric(df_1['Price'], errors='coerce' )

In [ ]:
merged_df_1 = df_1.merge(df_2, on ='CSDUID', how= 'left')

In [ ]:
merged_df_1.columns

Index(['CSDUID', 'Latitude', 'Type', 'Price', 'Bedrooms', 'Bathrooms', 'Hydro',
       'Heat', 'Water', 'Size', 'Agreement Type', 'Population'],
      dtype='object')

#MERGING THE COLUMNS

In [ ]:
merged_df_1 = merged_df_1.drop(['CSDUID'],axis=1)

In [ ]:
merged_df_1['Type'].value_counts()

Type
Apartment         9685
House             5526
Basement          3689
Condo             3419
Townhouse         2399
Duplex/Triplex    1014
Name: count, dtype: int64

In [ ]:
merged_df_1['Type'] = merged_df_1['Type'].astype('category').cat.codes

#USING GET DUMMIES METHOD TO CONVERT INTO NUMERICAL VALUES.

In [ ]:
one_hot_encoded1 = pd.get_dummies(merged_df_1['Type'], prefix='PropType')
one_hot_encoded2 = pd.get_dummies(merged_df_1['Bedrooms'], prefix='Bedrooms')
one_hot_encoded3 = pd.get_dummies(merged_df_1['Bathrooms'], prefix='Bathrooms')
one_hot_encoded4 = pd. get_dummies(merged_df_1['Hydro'], prefix='Hydro')
one_hot_encoded5 = pd. get_dummies(merged_df_1['Heat'], prefix='Heat')
one_hot_encoded6 = pd. get_dummies(merged_df_1['Water'], prefix='Water')
#Concatenate the one-hot encoded columns with the original Dataframe
df_encoded = pd.concat([merged_df_1, one_hot_encoded1,one_hot_encoded2, one_hot_encoded3, one_hot_encoded4, one_hot_encoded5, one_hot_encoded6], axis=1)

In [ ]:
df_encoded = df_encoded.drop(['Type','Bedrooms','Bathrooms','Hydro','Heat','Water'], axis=1)

In [ ]:
df_encoded.head()

,Latitude,Price,Size,Agreement Type,Population,PropType_0,PropType_1,PropType_2,PropType_3,PropType_4,...,Bathrooms_Bathrooms: 4.5,Bathrooms_Bathrooms: 5,Bathrooms_Bathrooms: 5.5,Bathrooms_Bathrooms: 6+,Hydro_N,Hydro_Y,Heat_N,Heat_Y,Water_N,Water_Y
0,45.256161,1425.0,950.000000,1 Year,14211,True,False,False,False,False,...,False,False,False,False,True,False,False,True,False,True
1,45.192003,1100.0,780.000000,1 Year,14211,True,False,False,False,False,...,False,False,False,False,True,False,True,False,False,True
2,45.146672,2700.0,693.228433,1 Year,14211,False,False,False,False,True,...,False,False,False,False,True,False,False,True,False,True
3,45.143726,1200.0,900.000000,1 Year,14211,False,False,False,False,True,...,False,False,False,False,True,False,True,False,False,True
4,45.068973,4000.0,693.228433,1 Year,14211,False,False,False,False,True,...,False,False,False,False,True,False,False,True,False,True

In [ ]:
df_encoded= df_encoded.drop(['Agreement Type'], axis=1)

In [ ]:
df_encoded.head()

,Latitude,Price,Size,Population,PropType_0,PropType_1,PropType_2,PropType_3,PropType_4,PropType_5,...,Bathrooms_Bathrooms: 4.5,Bathrooms_Bathrooms: 5,Bathrooms_Bathrooms: 5.5,Bathrooms_Bathrooms: 6+,Hydro_N,Hydro_Y,Heat_N,Heat_Y,Water_N,Water_Y
0,45.256161,1425.0,950.000000,14211,True,False,False,False,False,False,...,False,False,False,False,True,False,False,True,False,True
1,45.192003,1100.0,780.000000,14211,True,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,True
2,45.146672,2700.0,693.228433,14211,False,False,False,False,True,False,...,False,False,False,False,True,False,False,True,False,True
3,45.143726,1200.0,900.000000,14211,False,False,False,False,True,False,...,False,False,False,False,True,False,True,False,False,True
4,45.068973,4000.0,693.228433,14211,False,False,False,False,True,False,...,False,False,False,False,True,False,False,True,False,True

-GETTING NEW FILE WITH THE ABOVE CHANGES.

In [ ]:
df_encoded.to_csv('onehotencodeddata.csv')